
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Nerko One', cursive;
}



body{
 background-color: #ADD8E6;
}


h1 {
 font-size: 65px;
 text-align: center;
 margin:auto;
 color: white;
 text-shadow:
 -1px -1px 0 #999,
 1px -1px 0 #000,
 -1px 1px 0 #999,
 1px 1px 0 #000;
}



.container{
 height: 460px;
 width: 540px;
 /* border: 1PX solid black; */
 margin:auto;
 height: auto;
}

.margintop{
 margin-top: 10px;
}

.linea{
 width: 120px;
 height: 140px;
 margin:5px;
 display: inline-block;
}

.carta{
 width: 120px;
 height: 140px;
 background-image: url(../img/pattern.png);
 background-size: contain;
 background-color: white;
 border-radius:8px;
 position: relative;
 margin:auto;
}

.carta-scoperta{
 width: 120px;
 height: 140px;
 background-color: white;
 border-radius: 8px;
 position: relative;
 display: inline-block;
 margin:auto;
}


.carta-scoperta img, .carta img{
 width: 120px;
 /* height: 120px; */
 position: relative;
 display:block;
}




span{
 font-size: 20px;
 display: none;
 position: absolute;
 text-align: center;
 width: 100%
 bottom: 20px;
 padding-left: 30px;
 color:#e33488 ;
 text-shadow:
 -1px -1px 0 #999,
 1px -1px 0 #000,
 -1px 1px 0 #999,
 1px 1px 0 #000;
}


.carta-scoperta-testo{
 font-size: 20px;
 display: block;
 position: absolute;
 text-align: center;
 width: 100%;
 right: 15px;
 bottom: 3px;
 text-shadow:
 -1px -1px 0 #999,
 1px -1px 0 #000,
 -1px 1px 0 #999,
 1px 1px 0 #000;
}


.carta img{
 display: none;
}

.carta:hover{
 background-image: none;
}

.carta:hover img, .carta:hover span {
 display: block;
}

span.testo-hover:hover{
 color: orange;
}

span.carta-scoperta-testo:hover{
 color: orange;
}

.margintop{
 margin-top: 10px;
}

footer{
 font-size: 20px;
 text-align: center;
 margin-top: 10px;
}
